<!DOCTYPE html>
<html lang="pt-br">
<head>
	<link rel="icon" href="/static/img/ovni.jpg" />
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/static/css/login.css">
	<title>UFOLabs - Login</title>
</head>
<body>

<span class="border border-light" style="border-radius: 10px solid; margin:10px;"></span>
	<center id="bloco">
		<div id="login-container" class="container" padding="16">
			<form method="post">				
				<br>
				<h5> UFO LABS </h5>
			  <div class="form-group col-lg-6" >
			  	{% csrf_token %}
				{{ form.as_p }}
			  </div>
		 	 <div class="form-check">
		   		 <small id="emailHelp" class="form-text text-muted">Nunca compartilharemos seu e-mail com mais ninguém.</small></p>
		 	 </div>
		  		<button type="submit" class="btn btn-outline-secondary">Entrar</button>
		  		 <p left="10"><a href="#">Esqueceu a senha?</a>
		  		 <p left="10"><a href="{% url 'registro' %}">Criar uma conta.</a>
			</form>
		</div>
		<div class="footer-copyright text-center py-3">© 2020 Copyright:
			<a href="https://mdbootstrap.com/"> UFO LABS</a>
		  </div>
	</center>

	{% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}

</body>
</html>