/* stylelint-disable selector-list-comma-newline-after */

body{
    background-color: white;
}
.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0.5%;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}
.form-inline{
    padding-left: 10%;
}
.btn-login{
    position: absolute;
    right: 0;
}
.my-container{
    margin: 1%;
}

.home-container{
    margin-left: 12%;
    width: 90%;
}

.post-container-profile{
    background-color: white;
    width: 67%;
    height: 50%;
    float: right;
    overflow: auto;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 10px;
}

.blog-post{
    background-color: white;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    margin-bottom: 10px;
}

#profile-image{
  display: inline-block;
  position: relative;
}
#profile-image a{
    text-decoration: none;
    color: white;
}

.hide {
  position: absolute;
  text-align: center;
  top: 100px;
  left: 30px;
  font-size: 20px;
  text-shadow: 0px 0px 5px black;
  opacity: 0;
}
.profile-image .hide:hover{
    opacity: 1;
}

#profile-image img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.menu-perfil{
    float: left;
    background-color: #F8F9FA;
    padding: 1%;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	-moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
	box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}

.menu-perfil h2{

}

.menu-perfil ul{
    padding-left: 0px;
    text-align: left;
    list-style: none;
}

.menu-perfil li{
    padding-left: 15%;
}

.menu-perfil li:hover{

    background-color: #E3E5E8;
}

.menu-perfil a{
    text-decoration: none;
    color: black;
}

.post-form{
    clear: both;
    padding-top: 5%;
}

.post-form .helptext{
    display: none;
}

.post-form #id_password{
    display: none;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}


.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}