{% extends 'layout.html' %}

{% block content %}

<section class="menu-perfil">
    <div>
        <figure id="profile-image" class="profile-image">
            <img id="profile-photo"
                 {% if user.my_user.photo.url != blank %}
                    style="background-image: url('{{ user.my_user.photo.url }}')">
                {% else %}
                    src="/static/img/profile.png">
                {% endif %}
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        </figure>

    </div>
    {% if request.user.id != user.id %}
    <div>
        <nav>
            <ul>

                {% if user in friend %}
                    <li><a href="#">Desfazer Abdução</a></li>
                {% else %}
                    <li><a href="{% url 'add_friend' user.id %}">Abduzir Este Ser</a></li>
                {% endif %}
                <li><a href="#">Fazer Contato Imediato</a></li>
            </ul>
        </nav>
    </div>
    {% endif %}
</section>
    <section class="post-container-profile bio">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            Quem sou eu
          </h3>
        {{ user.bio | safe }}
        {% if request.user.id == user.id %}
            <a href="{% url 'update_user' request.user.id %}">Editar Bio</a>
        {% endif %}
    </section>

    {% if user_posts.exists %}
    <section class="post-container-profile">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            Minhas Postagens
          </h3>

          {% for post in user_posts %}
            {% if post.online %}
              <div class="blog-post">
                <h2 class="blog-post-title">
                  {{ post.title }}
                </h2>
                <p class="blog-post-meta">{{ post.created_at | date:'d, M Y' }} by <a href="#">{{ post.author }}</a></p>

                  <p>{{ post.content | safe | slice:'0:500' }}... <a href="/posts/{{ post.pk }}">Ler mais</a></p>
              </div><!-- /.blog-post -->
            {% endif %}
          {% endfor %}

          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
          </nav>
    </section>
    {% endif %}
{% endblock %}

{% block top_right %}
    <h4 class="font-italic">Abduzidos</h4>
    {% for friend in user.my_user.get_friends %}
        <figure id="friends-photo">
            <a href="{% url 'person' friend.id %}">
                <img
                   {% if friend.my_user.photo.url != blank %}
                      src="{{ friend.my_user.photo.url }}"
                   {% else %}
                      src="/static/img/profile.png"
                    {% endif %}
                width="70" height="70">
                <figcaption>{{ friend.first_name }}</figcaption>
            </a>
        </figure>
    {% endfor %}
    <p>Total de Abduzidos: {{ user.my_user.get_friends_number }}</p>
{% endblock %}