{% extends 'layout.html' %}

{% block content %}

          <div class="blog-post">
            <h2 class="blog-post-title">
              {{ post.title }}
            </h2>
            <p class="blog-post-meta">{{ post.created_at | date:'d, M Y' }} by <a href="{% url 'person' post.author.id %}">{{ post.author }}</a></p>
            {% if post.photo %}
                <img class="post-image" src="{{ post.photo.url }}">
            {% endif %}

              <p>{{ post.content | safe }}</p>
              <br/>
              <form action="{% url 'like_post' post.pk %}" method="POST">
                  {% csrf_token %}
                  {% if liked %}
                    <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Gostei</button>
                  {% else %}
                    <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-secondary btn-sm">Gostou?</button>
                  {% endif %}
                  <p>{{ post.total_likes }} {% if post.total_likes != 1 %}pessoas gostaram dessa postagem{% else %}pessoa gostou dessa postagem{% endif %}</p>
              </form>
              <br/>
            <div><a href="{% url 'home' %}">Voltar para Home</a> </div>
            <div><a href="{% url 'profile' %}">Voltar para sua tela inicial</a> </div>
          </div><!-- /.blog-post -->


{% endblock %}