{% extends 'layout.html' %}
{% load bootstrap %}

{% block content %}
        {% if post.online or request.user.is_superuser %}
          <div class="blog-post">
            <h2 class="blog-post-title">
              {{ post.title }}
            </h2>
            <p class="blog-post-meta">{{ post.created_at | date:'d, M Y' }} by <a href="{% url 'person' post.author.id %}">{{ post.author }}</a></p>
            {% if post.photo %}
                <img class="post-image" src="{{ post.photo.url }}">
            {% endif %}
            <p>{{ post.content | safe }}</p>

              <br/>
              <form action="{% url 'like_post' post.pk %}" method="POST">
                  {% csrf_token %}
                    {% if post.online %}
                      {% if liked %}
                        <button type="submit", id="like", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Gostei</button>
                        <label id="like-label" for="like"></label>
                      {% else %}
                        <button type="submit", id="unlike", name="post_id", value="{{ post.id }}", class="btn btn-secondary btn-sm">Gostou?</button>
                        <label id="unlike-label" for="unlike"></label>
                      {% endif %}
                    {% endif %}
              </form>
              <form action="{% url 'allow_post' post.pk %}" method="POST">
                  {% csrf_token %}
                  {% if request.user.is_superuser and post.online == False %}
                    <button type="submit", name="allow_post_id", value="{{ post.id }}", class="btn btn-secondary btn-sm">Aprovar Postagem</button>
                  {% endif %}
                  <p>{{ post.total_likes }} {% if post.total_likes != 1 %}seres gostaram dessa postagem{% else %}ser gostou dessa postagem{% endif %}</p>
              </form>
              <br/>
              <div><a href="{% url 'home' %}">Voltar para Home</a> </div>
              <div><a href="{% url 'profile' %}">Voltar para sua tela inicial</a> </div>
              <hr>
              <h3>Comentar</h3>
              <form class="post-form comment-form" action="{% url 'comment' post.pk %}" method="POST">
                  {% csrf_token %}
                  {{ form.media }}
                  {{ form|bootstrap }}
                  <input class="btn-primary" type="submit" value="Enviar">
              </form>
              <hr>
              <p>{{ comments.count }}{% if comments.count != 1 %} comentários {% else%} comentário {% endif %}</p>
              <br/>
              {% for comment in comments %}
                <p class="blog-post-meta">{{ comment.created_at | date:'d, M Y' }} by <a class="abducao" href="{% url 'person' comment.author.id %}">{{ comment.author }} <img
                {% if comment.author.my_user.photo.url != blank %}
                      src="{{ comment.author.my_user.photo.url }}"
                   {% else %}
                      src="/static/img/profile.png"
                    {% endif %}
                width="20" height="20"></a></p>
              <p>{{ comment.content }}</p>
              <br/>
              <br/>
              {% endfor %}
          </div><!-- /.blog-post -->
        {% endif %}

{% endblock %}