{% extends 'layout.html' %}

{% block content %}
    <section class="home-container">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            Postagens para Aprovação
          </h3>

          {% for post in posts %}
            {% if post.online == False %}
          <div class="blog-post">
            <h2 class="blog-post-title">
              {{ post.title }}
            </h2>
            <p class="blog-post-meta">{{ post.created_at | date:'d, M Y' }} by <a href="{% url 'person' post.author.id %}">{{ post.author }}</a></p>

              <p>{{ post.content | safe | slice:'0:500' }}... <a href="/posts/{{ post.pk }}">Ler mais</a></p>
          </div><!-- /.blog-post -->
            {% endif %}
          {% endfor %}

          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
          </nav>
    </section>

{% endblock %}