{% extends 'layout.html' %}

{% block content %}
<div>
    <img id="profile-photo"
         {% if user.my_user.photo.url != blank %}
            src="{{ user.my_user.photo.url }}" width="200" height="200">
        {% else %}
            src="/media/user_photos/profile.png" width="200" height="200">
        {% endif %}
    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
</div>
<div>
    <nav>
        <ul>
            <li><a href="{% url 'profile' %}">Voltar à Tela Inicial</a></li>
        </ul>
    </nav>
</div>
<form method='POST'>
<h1>Criar Nova Postagem</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Postar">
</form>

{% endblock %}