{% extends 'layout.html' %}

{% block content %}
<section class="menu-perfil">
    <div>
        <figure id="profile-image" class="profile-image">
            <img id="profile-photo"
                 {% if user.my_user.photo.url != blank %}
                    src="{{ user.my_user.photo.url }}">
                {% else %}
                    src="/static/img/profile.png">
                {% endif %}
            <figcaption class="hide"><a href="{% url 'update_user' user.id %}">Alterar Imagem</a></figcaption>
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        </figure>

    </div>
    <div>
        <nav>
            <ul>
                <li><a href="{% url 'profile' %}">Voltar à Tela Inicial</a></li>
            </ul>
        </nav>
    </div>
</section>
<form method='POST' class="post-form" enctype="multipart/form-data">
<h1>Criar Nova Postagem</h1>
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <p>{{ user.id }}</p>
    <input type="submit" value="Postar">
</form>

{% endblock %}