{% extends 'layout.html' %}

{% block content %}
<section class="menu-perfil">
    <div>
        <figure id="profile-image" class="profile-image">
            <img id="profile-photo"
                 {% if user.my_user.photo.url != blank %}
                    style="background-image: url('{{ user.my_user.photo.url }}')">
                {% else %}
                    src="/static/img/profile.png">
                {% endif %}
            <figcaption class="hide"><a href="{% url 'update_user' user.id %}">Alterar Imagem</a></figcaption>
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        </figure>

    </div>
    <div>
        <nav>
            <ul>
                <li><a href="{% url 'update_user' user.id %}">Alterar dados cadastrais</a></li>
                <li><a href="{% url 'new_post' %}">Nova postagem</a></li>
                {% if request.user.is_superuser %}
                    <li class="abducao-info"><a href="{% url 'post_list' %}">({{ posts_to_allow.count }}) Posts p/ aprovação</a></li>
                {% endif %}
                {% if frequest.count != 0 %}
                    <li class="abducao-info"><a href="{% url 'requests' user.id %}">({{frequest.count}}) Tentativa(s) de abdução</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</section>

<section class="post-container-profile">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            De algum lugar no Espaço
          </h3>

          {% for post in posts %}
            {% if post.online %}
              <div class="blog-post">
                <h2 class="blog-post-title">
                  {{ post.title }}
                </h2>
                <p class="blog-post-meta">{{ post.created_at | date:'d, M Y' }} by <a href="{% url 'person' post.author.id %}">{{ post.author }}</a></p>

                  <p>{{ post.content | safe | slice:'0:500' }}... <a href="/posts/{{ post.pk }}">Ler mais</a></p>
              </div><!-- /.blog-post -->
            {% endif %}
          {% endfor %}

          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
          </nav>
    </section>
{% endblock %}

{% block top_right %}
    <h4 class="font-italic">Abduzidos</h4>
    {% for friend in user.my_user.get_friends %}
        <figure id="friends-photo">
            <a href="{% url 'person' friend.id %}">
                <img
                   {% if friend.my_user.photo.url != blank %}
                      src="{{ friend.my_user.photo.url }}"
                   {% else %}
                      src="/static/img/profile.png"
                    {% endif %}
                width="70" height="70">
                <figcaption>{{ friend.first_name }}</figcaption>
            </a>
        </figure>
    {% endfor %}
    <p>Total de Abduzidos: {{ user.my_user.get_friends_number }}</p>
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
